/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2017, 3:23:31 AM
    Author     : nafi
*/


#content{
    
    background-color: #462000;
    opacity: 0.8;
    
}




h1{
    background-color: #333232;
    color:#ffffff;
    padding-left: 10px;
}



li,a{
    
    color: #ffffcc;
    decoration: none;
    font-size: 16px;
    font-weight: bolder;
    
    opacity: 1.4;
}