/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2017, 9:31:54 PM
    Author     : nafi
*/

.content{
    
    background-color: #762000;
    opacity: 0.8;
    
}




h1{
    background-color: #333232;
    color:#ffffff;
    padding-left: 10px;
}

a{
    
    color: #ffffcc;
    decoration: none;
    font-size: 16px;
    font-weight: bolder;
    
    opacity: 1.4;
}




a.content{
    
    font-weight: bold;
}