/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2017, 10:14:17 PM
    Author     : nafi
*/
#container{

    position: relative;
    text-align: left;
    width: 80%;
    left: 10%;
    right: 10%; 
   background-image: url("http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/201312-w-best-places-to-spend-nye-rekjavik.jpg?itok=ZoyTFf26");
    opacity: 0.0 0.0;
}

#navbar{
    background-color: #3c0302;
    position: relative;
    width: 100%;
    height: 45px;
    top: 0px;

}

#banner{

    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom-color: whitesmoke;
   
    background-image: url("http://www.telegraph.co.uk/content/dam/Travel/leadAssets/24/74/Chinesenewyear-fir_2474745a-xlarge.jpg");
    opacity: 0.9;
}


.header{

    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
}

a.nav, a.nav_open{

    display:inline-table;
    border:#94fa54;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px blue;
    text-align: justify;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 90px;
    padding-top: 10px;
    font-family:'Indie Flower', cursive;
    font-size: 20px;
    opacity: 0.0 -1.0;
}

a.nav:hover, a.nav_open:hover{

    background-color: #b7c5fe;
    font-size: 24px;
    color: #e44973;
    font-weight: bolder;
}

.flex-container{

    display: -webkit-flex;
    display: flex;
    width: 100%;


}
.flex-item{

   
    background-image: url("http://www.powerpointhintergrund.com/uploads/2017/07/background-new-year-wallpaper-by-hoaphuc-revelwallpapers--8.jpeg");

    width: 50%;

    margin:5px;
    border-color: green;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px #4a0c00;

}

#sec_1{
    color:  #ffffff;
    font-family:'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 10px;
    width: 80%;
    opacity: 0.8;
}

#sec2_content{

    padding-left: 15px;
    border-radius: 10px;
    padding: 60px 5px 30px 15px;
}

.intro_pic{
    float:right;
    padding-left: 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px aliceblue;
    opacity: 0.8;
}

.home_footer{

    color: white;
    text-align: center;
    font-weight: bold;
}





