/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2017, 1:15:17 PM
    Author     : nafi
*/
#schedule_table{
    color: #ffffff;
    font-weight: bolder;
    width: 100%;
    opacity: 0.9;
    
}
