/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 26, 2017, 7:19:39 AM
    Author     : nafi
*/



#resumeLayout{
    
    background-color: #762000;
    opacity: 0.8;
    
}




h1{
    background-color: #333232;
    color:#ffffff;
    padding-left: 10px;
}



li,div{
    
    color: #ffffcc;
    decoration: none;
    font-size: 16px;
   
    
    opacity: 1.4;
}

b{
    
    text-decoration: underline;
}